button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border:none 
}
.ui-title {
	padding-left: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dedddc;
	line-height: 28px;
	font-size: 16px
}

.ui-title span {
	display: inline-block;
	margin: 10px 0
}

.ui-message {
	position: relative;
	text-align: center;
	height: 24px;
	padding: 7px 0;
	font-size: 16px;
	color: #ffe8d3
}

.ui-message a {
	color: inherit
}

.ui-message a:hover {
	color: #f4f4f4;
	text-decoration: underline
}

.ui-message .ui-close {
	position: absolute;
	right: 10px;
	top: 7px;
	color: #aaa
}

.ui-message .ui-close i {
	font-size: 18px;
	font-weight: 700
}

.ui-message .ui-close:hover {
	text-decoration: none;
	color: #ffa
}

.ui-message-error {
	background-color: #98232d
}

.show {
	display: block;
	visibility: visible
}

.hide {
	display: none;
	visibility: hidden
}

.vertival-center {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%
}

.h1 {
	padding: 0;
	margin: 20px 0
}

.assets-content {
	padding: 0 15px 15px;
    box-sizing: border-box;
    border-radius: 4px;
}

.upload-button {
	outline: 0;
	width: 120px;
	height: 30px;
	line-height: 30px;
	background-color: #1abc9c;
	border: 0;
	color: #fefefe;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s
}

.upload-button:hover {
	background-color: #139999
}

.idcard-area {
	overflow: hidden;
	margin-bottom: 20px
}

.idcard-checked .idcard-image {
	height: 180px;
	border: none
}

.idcard-checked .idcard-image img {
	height: 100%;
	width: 100%
}

.idcard-box {
	text-align: center;
	float: left;
	margin-right: 20px
}

.idcard-box p {
	height: 30px;
	line-height: 30px
}

.idcard-box button {
	margin: 15px 0
}

.idcard-image {
	position: relative;
	width: 300px;
	height: 405px;
	border: 1px solid #ccc
}

.idcard-image-mask {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(169,169,169,0.5)
}
.image-area img{
	width: 100%;
}
.pwtrade {
	padding: 15px
}

.pwtrade dd input[type=password]:focus,.pwtrade dd input[type=text]:focus {
	box-shadow: 0px 0px 3px #1583fb;
	border: 1px solid #1583fb;
	color: #333
}

.fkcont,.top-nav .nav-bottom-bg {
	display: none
}

.fkicon {
	width: 1200px;
	margin: 0 auto
}

.fkicon ul li {
	width: 16.66%;
	height: 68px;
	margin-top: 60px;
	float: left
}

.fkicon .fico {
	float: left;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	margin-left: 15%;
	border: 1px solid #d45858;
	background: url(../images/fc_all.svg) no-repeat 0 6px
}

.fkicon .fc2 {
	background-position: 0 -52px
}

.fkicon .fc3 {
	background-position: 0 -116px
}

.fkicon .fc4 {
	background-position: 0 -175px
}

.fkicon .fc5 {
	background-position: 0 -233px
}

.fkicon .fc6 {
	background-position: 0 4px
}

.fkicon .fc7 {
	background-position: 0 -299px
}

.fkicon .fkcont {
	padding: 12px 0 12px 15px;
	float: left
}

.fkicon .fc-twi {
	background-size: 72px;
	background-position: -5px -66px
}

.fkcont {
	width: 60%
}

.fnav {
	border-top: 1px solid #ddd;
	clear: both;
	background: #2b343c
}

.ftel {
	font-size: 1.6em;
	color: #000
}

.ftel:hover {
	color: #d45858
}

.ftelnum {
	font-size: 1.03em;
	margin-top: 10px;
	color: #008069;
	float: left
}

.fkcont .fmor {
	margin: 10px 0 0 20px;
	float: left
}

.fnavcon {
	width: 100%;
	height: 225px;
	padding: 50px 0
}

.fnavcon>ul {
	width: 91%;
	margin: 0 auto;
	color: #aaa
}

.fnavcon a {
	color: #aabdbc
}

.fnavcon a:hover {
	color: #d45858
}

.fnav_list {
	width: 23%;
	float: left
}

.ft-links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 40px
}

.ft-links a {
	width: 62px;
	height: 62px;
	line-height: 62px;
	border-radius: 50%;
	border: 1px solid #d45858;
	display: inline-block;
	text-align: center
}

.ft-icon {
	font-size: 40px;
	color: #d45858
}

.fxtishi {
	width: 30%;
	float: right
}

.fxts {
	margin-top: 10px;
	line-height: 24px
}

.fxts p {
	margin: 0
}

.fxtishi img,.fxtishi svg {
	float: right;
	opacity: 0.8
}

.fxts i {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 17px;
	text-align: center;
	border-radius: 50%;
	margin-right: 5px;
	font-style: normal;
	color: #fff;
	background: #d45858
}

.fxts {
	width: 80%;
	margin: 0 auto
}

.fxts {
	margin-bottom: 20px;
	margin-top: 25px
}

.fxts p {
	font-size: 14px;
	text-align: center
}

.forget-pwd {
	margin-left: 15px;
	color: #1355f1;
}

.forget-pwd:hover {
	text-decoration: underline;
	color: #1355f1;
}
